*.suo
*.user
.vs/
/packages
LuxSoft-Assignment.Api/LuxSoft-Assignment.Api/bin
LuxSoft-Assignment.Api/LuxSoft-Assignment.Api/obj
LuxSoft-Assignment.Api/LuxSoft-Assignment.Api/Properties/PublishProfiles